<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>MainImageServlet</servlet-name>
  <servlet-class>AUDRwebServlets.MainImageServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ShowImageMiniPageServlet</servlet-name>
  <servlet-class>AUDRwebServlets.ShowImageMiniPageServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SearchImageInfoServlet</servlet-name>
  <servlet-class>AUDRwebServlets.SearchImageInfoServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>TextInfoServlet</servlet-name>
  <servlet-class>AUDRwebServlets.TextInfoServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DetailServlet</servlet-name>
  <servlet-class>AUDRwebServlets.DetailServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>PageServlet</servlet-name>
  <servlet-class>AUDRwebServlets.PageServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>VideoSearch</servlet-name>
  <servlet-class>AUDRwebServlets.VideoSearch</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UploadServlet</servlet-name>
  <servlet-class>AUDRwebServlets.UploadServlet</servlet-class>
 </servlet>
 <!-- 上传文件，获得名称为中文名称 -->
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UploadServletCH</servlet-name>
  <servlet-class>AUDRwebServlets.UploadServletCH</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>UploadServletCHBatch</servlet-name>
  <servlet-class>AUDRwebServlets.UploadServletCHBatch</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AudioSearch</servlet-name>
  <servlet-class>AUDRwebServlets.AudioSearch</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AudioDetailServlet</servlet-name>
  <servlet-class>AUDRwebServlets.AudioDetailServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AudioDownLoadServlet</servlet-name>
  <servlet-class>AUDRwebServlets.AudioDownLoadServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AudioRelatedSearch</servlet-name>
  <servlet-class>AUDRwebServlets.AudioRelatedSearch</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DeicServlet</servlet-name>
  <servlet-class>AUDRwebServlets.DeicServlet</servlet-class>
 </servlet>
 <!-- 聚类 -->
 <servlet>
  <servlet-name>ClusterServlet</servlet-name>
  <servlet-class>AUDRwebServlets.ClusterServlet</servlet-class>
 </servlet>
 <!-- 文本搜索 -->
 <servlet>
  <servlet-name>TextSearchServlet</servlet-name>
  <servlet-class>AUDRwebServlets.TextSearchServlet</servlet-class>
 </servlet>
 <!-- 文本显示 -->
 <servlet>
  <servlet-name>textItemShowServlet</servlet-name>
  <servlet-class>AUDRwebServlets.textItemShowServlet</servlet-class>
 </servlet>
 <!-- 文本下载 -->
 <servlet>
  <servlet-name>TextDownServlet</servlet-name>
  <servlet-class>AUDRwebServlets.TextDownServlet</servlet-class>
 </servlet>
 <!-- 图像编辑 -->
 <servlet>
  <servlet-name>pictureShowServlet</servlet-name>
  <servlet-class>AUDRwebServlets.pictureShowServlet</servlet-class>
 </servlet>
 <!-- 错误关联 
 
  <error-page>
  	<error-code>404</error-code>
  	<location>/common/404ERROR.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/common/500ERROR.jsp</location>
  </error-page>
   
 用户管理 
 用户登录 -->
 <servlet>
  <servlet-name>UserLoginServlet</servlet-name>
  <servlet-class>AUDRwebServlets.UserLoginServlet</servlet-class>
 </servlet>
 <!-- 用户退出 -->
 <servlet>
  <servlet-name>UserLogoutServlet</servlet-name>
  <servlet-class>AUDRwebServlets.UserLogoutServlet</servlet-class>
 </servlet>
 <!-- 控制台中文件管理 
 查询所有 -->
 <servlet>
  <servlet-name>ItemsFileSelectServlet</servlet-name>
  <servlet-class>AUDRwebServlets.ItemsFileSelectServlet</servlet-class>
 </servlet>
 <!-- 用id查询 -->
 <servlet>
  <servlet-name>ItemFileSelectServlet</servlet-name>
  <servlet-class>AUDRwebServlets.ItemFileSelectServlet</servlet-class>
 </servlet>
 <!-- 用id删除 -->
 <servlet>
  <servlet-name>ItemFileDeleteServlet</servlet-name>
  <servlet-class>AUDRwebServlets.ItemFileDeleteServlet</servlet-class>
 </servlet>
 <!-- 添加 -->
 <servlet>
  <servlet-name>ItemFileAddServlet</servlet-name>
  <servlet-class>AUDRwebServlets.ItemFileAddServlet</servlet-class>
 </servlet>
 <!-- 添加2 -->
 <servlet>
  <servlet-name>ItemFileAddServlet2</servlet-name>
  <servlet-class>AUDRwebServlets.ItemFileAddServlet2</servlet-class>
 </servlet>
 <!-- 修改 -->
 <servlet>
  <servlet-name>ItemFileUpdateServlet</servlet-name>
  <servlet-class>AUDRwebServlets.ItemFileUpdateServlet</servlet-class>
 </servlet>
 <!-- 工具下载 -->
 <servlet>
  <servlet-name>DownServlet</servlet-name>
  <servlet-class>AUDRwebServlets.DownServlet</servlet-class>
 </servlet>
 <!-- 通用文件下载 -->
 <servlet>
  <servlet-name>DownServletCommon</servlet-name>
  <servlet-class>AUDRwebServlets.DownServletCommon</servlet-class>
 </servlet>
 <!-- 系统IP配置 -->
 <servlet>
  <servlet-name>AUDRConfigAction</servlet-name>
  <servlet-class>AUDRwebServlets.AUDRConfigAction</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ClusterServlet</servlet-name>
  <url-pattern>/ClusterServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TextSearchServlet</servlet-name>
  <url-pattern>/TextSearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>textItemShowServlet</servlet-name>
  <url-pattern>/textItemShow</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TextDownServlet</servlet-name>
  <url-pattern>/TextDownLoad</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MainImageServlet</servlet-name>
  <url-pattern>/mainimage.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ShowImageMiniPageServlet</servlet-name>
  <url-pattern>/showimageMinipage.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchImageInfoServlet</servlet-name>
  <url-pattern>/searchimageinfo.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TextInfoServlet</servlet-name>
  <url-pattern>/textInfoServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DetailServlet</servlet-name>
  <url-pattern>/DetailServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PageServlet</servlet-name>
  <url-pattern>/PageServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>VideoSearch</servlet-name>
  <url-pattern>/VideoSearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadServlet</servlet-name>
  <url-pattern>/UploadServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadServletCH</servlet-name>
  <url-pattern>/UploadServletCH</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadServletCHBatch</servlet-name>
  <url-pattern>/UploadServletCHBatch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AudioSearch</servlet-name>
  <url-pattern>/AudioSearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AudioDetailServlet</servlet-name>
  <url-pattern>/AudioDetailServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AudioDownLoadServlet</servlet-name>
  <url-pattern>/AudioDownLoadServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AudioRelatedSearch</servlet-name>
  <url-pattern>/AudioRelatedSearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeicServlet</servlet-name>
  <url-pattern>/servlet/DeicServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RS_AudioSearch</servlet-name>
  <url-pattern>/RS_AudioSearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>pictureShowServlet</servlet-name>
  <url-pattern>/pictureShow</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserLoginServlet</servlet-name>
  <url-pattern>/UserLogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UserLogoutServlet</servlet-name>
  <url-pattern>/UserLogout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ItemsFileSelectServlet</servlet-name>
  <url-pattern>/ItemsFileSelect</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ItemFileSelectServlet</servlet-name>
  <url-pattern>/ItemFileSelect</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ItemFileDeleteServlet</servlet-name>
  <url-pattern>/ItemFileDelete</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ItemFileAddServlet</servlet-name>
  <url-pattern>/ItemFileAdd</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ItemFileAddServlet2</servlet-name>
  <url-pattern>/ItemFileAdd2</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ItemFileUpdateServlet</servlet-name>
  <url-pattern>/ItemFileUpdate</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DownServlet</servlet-name>
  <url-pattern>/toolsDownServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DownServletCommon</servlet-name>
  <url-pattern>/DownServletCommon</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AUDRConfigAction</servlet-name>
  <url-pattern>/index.html</url-pattern>
 </servlet-mapping>
 <!-- 设置session的有效时长 -->
 <session-config>
  <session-timeout>0</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
