<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <display-name>PaperSearchServlet</display-name>
  <servlet-name>PaperSearchServlet</servlet-name>
  <servlet-class>servlets.PaperSearchServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>PaperItemShowServlet</display-name>
  <servlet-name>PaperItemShowServlet</servlet-name>
  <servlet-class>servlets.PaperItemShowServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>AuthorItemShowServlet</display-name>
  <servlet-name>AuthorItemShowServlet</servlet-name>
  <servlet-class>servlets.AuthorItemShowServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SearchResultServlet</servlet-name>
  <servlet-class>servlets.SearchResultServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>AuthorSearchServlet</display-name>
  <servlet-name>AuthorSearchServlet</servlet-name>
  <servlet-class>servlets.AuthorSearchServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>PaperSearchServlet</servlet-name>
  <url-pattern>/PaperSearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PaperItemShowServlet</servlet-name>
  <url-pattern>/PaperItemShow</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AuthorItemShowServlet</servlet-name>
  <url-pattern>/authorItemShow</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchResultServlet</servlet-name>
  <url-pattern>/SearchResult</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AuthorSearchServlet</servlet-name>
  <url-pattern>/AuthorSearch</url-pattern>
 </servlet-mapping>
 <!-- 设置session的有效时长 -->
 <session-config>
  <session-timeout>0</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>/index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
