/ACTMModels/
/ACTModels/
/ACTMOnlineModels/
/ACTMV2OnlineModels/
/backup/
/ACTOnlineModels/
/bin/
/index/
/LDAModels/
/metadata/
/Models/
/ngram/
/nips12raw_str602/
/NIPSCorpus/
/testing/
/testing_small/
/testing_small1/
/training/
/training_small/
/training_small1/
/1303043076378.glo
/1303572688494.show
/*.txt
/rude.x2
/rude1.x2
/rudedata.dat
/rudedata1.dat
