/.svn/
/act model ngram slide training/
/bin/
/index/
/metadata/
/training_small1/
/testing_small1/
/1308246583601.glo
/1308323997449.glo
/1308325429011.glo
/1308325597480.glo
/1308330458140.glo
/1308331371172.glo
/associate_paper_result.xml
/author_result.xml
/paper_result.xml
/.hibernateSynchronizer3/
/*.glo
/ACTModels/
/rude1.x2
/author_temp/
/author_profile/
/.settings/
/aaa.txt
/aaa.txt.bak
/新建文件夹/
/*.txt
/81100000707.jpg
/81100000707.xml
/temp/
/ngrams.x2
/ngrams.x2.bak
/*.x2
